:root {

}

.commands-wrapper {
  margin: 50px 50px 50px 100px;

  .categories {
    float: left;

    @media only screen and (max-width: 800px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .category {
      @media only screen and (max-width: 800px) {
        width: fit-content;
        margin-right: 1em;
        padding-right: 0.75em;
      }

      font-family: 'Roboto', sans-serif;
      letter-spacing: 0.25px;
      transition: 0.1s all;
      font-size: 1.65vh;
      margin-top: 0.6vh;
      background: #1f1f28;
      padding: 0.8vh;
      border-radius: 8px;
      border: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
      color: #b6b6b6;

      &:hover {
        transform: translateX(4px);
        background: #23232e;
      }

      &.selected {
        color: #fff;
        background: #43484e;
        font-weight: 800;
      }
    }
  }
}
